<div class="container bg-primary">
<h1>Stupid Coaching</h1>
<% if params[:ask].include?('?') %>
<div class='ask'>
  <h3><%=params[:ask] %></h3>
  <p>-You</p>
</div>
<div class='coach'>
  <h3>Silly question, get dressed and go to work!</h3>
  <p>-Your Coach</p>
</div>
<% elsif params[:ask] == "I am going to work" %>
<div class='ask'>
  <h3><%=params[:ask] %></h3>
  <p>-You</p>
</div>
<div class='coach'>
  <h3>Great!</h3>
  <p>-Your Coach</p>
</div>
<% else %>
<div class='ask'>
  <h3><%=params[:ask] %></h3>
  <p>-You</p>
</div>
<div class='coach'>
  <h3>I don't care, get dressed and go to work!</h3>
  <p>-Your Coach</p>
</div>
<% end %>

<%= link_to "Ask a new question", ask_path %>
</div>
